body{
    background-image: linear-gradient(
        to right,
        #3c6e71,
        #284b63);

    font-family: 'Playfair Display', serif;
    color: #ffffff;  
}

fieldset{
    background-color: #353535;
    border-radius: 14pt;
    
}
fieldset h1{
    text-align: center;
    font-size: 45pt;
}
img{
    border-radius: 15pt;
}

table{
    padding: 15pt;
}
table td{
    text-align: center;
    font-size: 25pt;
}
table td p{
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
}

.btn, .btnHome{
    border-radius: 5pt;
    background-image: linear-gradient(
        to right,
        #284b63,
        #3c6e71);
     width: 40%;
     height: 30pt;
     color: #ffffff;
     transition: all 0.3s ease-in-out;
     font-size: 20pt;  
}

.btnHome{
     display: block;
     margin: 1.0em auto;
     text-align: center;
 }
.btn:hover{
    width: 50%;
    height: 40pt;
    font-size: 30pt;
}